<template>
  <div id="home">
    这是About页面
    <p>{{ msg }}</p>
  </div>
</template>
<script>
export default {
  name: "About",
  data() {
    return {
      msg: "",
    };
  },
  methods: {},
  mounted() {
    this.msg = this.$route.params.id;
  },
};
</script>
<style scoped>
</style>