<template>
  <div id="home">
    这是home页面
    <button @click="go(6)">传递参数给About</button>
  </div>
</template>
<script>
export default {
  name: "Home",
  data() {
    return {};
  },
  methods: {
    go(id) {
      this.$router.push({
        name: "About",
        params: {
          id: id,
        },
      });
    },
  },
};
</script>
<style scoped>
</style>