<template>
  <div>
    <!-- <router-link></router-link> -->
    <router-view></router-view>
  </div>
</template>


<script>
export default {
  data() {
    return {
      mes: "hello",
    };
  },

  methods: {},
};
</script>

<style scoped>
</style>
